/* CSS Style Sheet for the layout of the website */

/* Import MedievalSharp font */
/* Regular style */
@font-face {
  font-family: "MedievalSharp";
  src: url("/fonts/MedievalSharp/MedievalSharp-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Import ModernAntiqua font */
/* Regular style */
@font-face {
  font-family: "ModernAntiqua";
  src: url("/fonts/Modern_Antiqua/ModernAntiqua-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "ModernAntiqua", Arial, sans-serif; /* Use custom font */
  font-weight: 400; /* This will use the regular font */
  font-size: 20px; /* Set default font size */
  background-color: #000000;
  color: white;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

h1 {
  font-family: "MedievalSharp", Arial, sans-serif; /* Use custom font */
  color: #bae67e; /* Text color - adjust as needed */
  text-align: center; /* Center align the text */
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "MedievalSharp", Arial, sans-serif; /* Use custom font */
  color: #ff000f; /* Text color - adjust as needed */
}

p {
  color: #ffd580; /* Text color - adjust as needed */
}

footer {
  font-family: "ModernAntiqua", Arial, sans-serif; /* Use custom font */
}

a {
  color: #ff8040; /* 4164FF links */
}

/* Customize the horizontal rule */
hr {
  border: none; /* Remove the default border */
  border-top: 2px solid #2d449b; /* Set the top border color and thickness */
  width: 67%; /* Set the desired width */
  margin-bottom: 20px auto; /* Center the <hr> element */
}

.bulletin-board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; /* Center text inside the container */
}

.bulletin-board {
  max-width: 400px; /* Maximum width for the content */
  background-color: #000000;
  color: #ffd580;
  border-radius: 12px;
  padding: 10px;
  font-size: 1em;
  position: relative; /* Necessary for positioning the thumbtack icon */
  height: 300px; /* Set a fixed height */
  width: 350px; /* Set a fixed height */
  overflow: hidden; /* Hides content that overflows the fixed height */
  overflow-y: auto; /* Enables vertical scrolling for overflowing content */
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.2); /* Adds a subtle dark shadow */
  
}

.thumbtack-icon {
  color: #AA1B86;
  position: absolute;
  top: 0px; /* Adjust as needed */
  left: 4px; /* Adjust as needed */
  transform: rotate(45deg); /* Adjust the rotation if needed */
}

.bulletin-board ul {
  padding-left: 20px; /* Adjust as needed to control the bullet points' indentation */
  margin: 0;
}

.bulletin-board ul li {
  margin: 5px 0; /* Adjust the vertical margin */
  text-align: left;
  color: #ffd580;
}

.bulletin-board p {
  margin: 0;
  padding-top: 15px; /* Vertical spacing between paragraphs */
  padding-bottom: 5px; /* Vertical spacing between paragraphs */
  text-align: left; /* Center text inside paragraphs */
  color: #ffd580;
}

.bulletin-board-date {
  color: #bae67e !important;
}

.bulletin-board h3 {
  padding: 5px; /* Vertical spacing between paragraphs */
  color: #007B88;
  margin: 0;
  text-align: center; /* Center text inside the container */
  position: relative; /* To allow the thumbtack icon to be positioned absolutely within h2 */
}

.bulletin-board-content {
padding: 10px;
}

.bulletin-board::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%; /* Start outside to the left */
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  transform: skewX(-45deg); /* Create the skew effect */
  transition: all 0.5s ease;
  animation: shimmer 5s infinite;
}


@keyframes shimmer {
  0% {
    left: -150%; /* Start further to the left */
  }
  50% {
    left: 150%; /* Move past the right end */
  }
  100% {
    left: 150%; /* Keep it moving */
  }
}

.support-logo {
  /*
  animation-name: bounce;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
  */
  max-width: 100%; /* To make sure image never exceeds its parent width */
  height: auto; /* Maintains the aspect ratio */
  width: 217px;
}

.desktop-logo,
.mobile-logo {
  max-width: 100%; /* To make sure image never exceeds its parent width */
  height: auto; /* Maintains the aspect ratio */
  border-top-left-radius: 10px; /* Top left corner */
  border-top-right-radius: 10px; /* Top right corner */
}

#pagecontent {
  background-color: #000000;
  background: linear-gradient(to bottom, #000000, #292929);
  padding: 0;
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  
}

#pagefoot {
  font-size: 0.8em; /* Adjust the font size to make it smaller */
  color: #9c9c9c; /* Font color */
  text-align: center; /* Center the text */
  margin: 0 auto;
  max-width: 1200px; /* Maximum width for the content */
  padding: 15px; /* Padding on the sides for responsiveness */
}

#contentarea {
  display: flex;
  justify-content: center;
  width: 100%; /* Ensures the div takes the full width */
}

#contentarea main {
  max-width: 1200px;
  width: 100%; /* Ensures the main content doesn't exceed the max-width */
  text-align: left;
  padding-left: 25px;
  padding-right: 25px;
}

.social-links-wrapper {
  display: flex;
  justify-content: center;
}

.social-links,
.social-links-footer {
  display: flex;
  flex-wrap: wrap; /* Ensure items can wrap */
  gap: 12px; /* Space between icons */
  padding-left: 5px;
  padding-right: 5px;
}

.social-links a,
.social-links-footer a {
  color: #ffffff; /* Icon color */
  font-size: 24px; /* Icon size */
  transition: transform 0.3s ease; /* Smooth transition for the transform */
}

.social-links a:hover,
.social-links-footer a:hover {
  color: #4164ff; /* Green color for links hover effect, change as needed */
  transform: translateY(-5px); /* Moves the button up */
}

.fa-code-fork,
.fa-building,
.fa-code-branch {
  font-size: 22px; /* Shrink Fork Icon size */
}

/* This is to ensure that hover links retain the intended style */
.regular-link {
  color: #ff8040;
}

/* This is to ensure that hover links retain the intended style */
.regular-link:hover {
  color: #4164ff;
}

/* This is to ensure that visited links retain the intended style */
.regular-link:visited {
  color: #ff8040;
}

/* Specific rule for visited links when hovered */
.regular-link:visited:hover {
  color: #4164ff;
}

.regular-link-2 {
  color: #ff8040;
}

/* This is to ensure that hover links retain the intended style */
.regular-link-2:hover {
  color: #2D449B;
}

/* This is to ensure that visited links retain the intended style */
.regular-link-2:visited {
  color: #ff8040;
}

/* Specific rule for visited links when hovered */
.regular-link-2:visited:hover {
  color: #2D449B;
}

@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-0.5em);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-0.125em);
  }
  64%,
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

.bounce {
  animation-name: bounce;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
}

.code-inline {
  background-color: #2f363d; /* Darker gray background */
  color: #ffffff; /* White text color */
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier,
    monospace; /* Monospace font for code */
  padding: 0.2em 0.4em; /* Padding around the text */
  font-size: 85%; /* Adjusted font size */
  border-radius: 6px; /* Rounded corners for the background */
}

.code-block {
  background-color: #f4f4f4; /* Light grey background */
  color: #333; /* Dark text color for contrast */
  font-family: "Courier New", Courier, monospace; /* Monospaced font for code-like appearance */
  padding: 10px; /* Adds space inside the block */
  margin: 10px 0; /* Adds space outside the block */
  border-radius: 5px; /* Optional: rounds the corners */
  border: 1px solid #ccc; /* Light grey border */
  overflow-x: auto; /* Adds horizontal scrolling if the code is too wide */
  white-space: pre-wrap; /* Keeps formatting like line breaks and spaces */
  word-wrap: break-word; /* Ensures long lines of code wrap */
}

button {
  background: none;
  border: none;
  padding: 0;
  font-family: inherit;
  color: inherit;
  text-align: inherit;
}

button:hover {
  text-decoration: none;
}

button:focus {
  outline: none;
}

.banner-image {
  border-radius: 15px;
  transition: transform 0.3s; /* Smooth transform transition */
  max-width: 100%; /* To make sure image never exceeds its parent width */
  height: auto; /* Maintains the aspect ratio */
  padding-bottom: 5px;
}

.mobile-logo {
  display: none;
}

/* Scrolling Popup Arrow Button */
.scroll-to-top {
  background: #aa1b86;
  border: none;
  border-radius: 50%; /* Makes it a circle */
  padding: 0;
  width: 65px; /* Set width and height to be the same for a circle */
  height: 65px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  display: flex; /* Ensures the icon centers inside the button */
  justify-content: center; /* Centers the icon horizontally */
  align-items: center; /* Centers the icon vertically */
  cursor: pointer;
  z-index: 1000; /* Ensure it's above other content */
  position: fixed;
  bottom: 75px; /* Closer to the bottom edge */
  right: 75px; /* Closer to the right edge */
  cursor: pointer;
  opacity: 0; /* Start with the button invisible */
  visibility: hidden; /* Hide the button */
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out; /* Smooth transition for both opacity and visibility */
}

.scroll-to-top.visible {
  opacity: 1; /* Full visibility when the button should be shown */
  visibility: visible; /* Make the button visible */
}

.scroll-to-top i {
  font-size: 24px; /* Larger font size for the icon */
  color: #fff;
}

.block-quote {
  font-family: "ModernAntiqua", sans-serif;
  font-weight: 400; /* This will use the regular weight */
  font-style: italic; /* This will use the italic style */
  color: #7f7f7f; /* Font color */
}

.subtitle {
  text-align: center;
  color: #4dbced; /* Font color */
  font-size: 30px;
  font-style: italic;
}

.subtitle-2 {
  text-align: center;
  color: #9354FF; /* Font color */
  font-size: 25px;
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.title-header-small {
  text-align: center;
  display: none; /* Display the line break as a block element */
}

.title-header-large {
  text-align: center;
  display: block; /* Display the line break as a block element */
}

/* Platform Grid Styling */
.platform-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 20px;
  margin-top: 20px;
}

/* Span across all 3 columns */
/* #platform-github {
  grid-column: span 2;
} */

.platform-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #000000;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  box-shadow: 0px 1px 2px #575757;
  transition: transform 0.2s, box-shadow 0.2s; /* Smooth transition for transform and shadow */
  text-align: center;
}

.platform-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.icon {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  fill: #9c9c9c;
}

.label {
  margin-top: 10px;
  font-size: 1rem;
}

.color-palette-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr); /* 7 columns */
  gap: 20px;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.color-palette-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 100%;
}

.color-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: white;
  border: 1px solid #1a1a1a;
}

.color-circle:hover {
  transform: translateY(-7px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.color-circle::after {
  content: attr(title);
  position: absolute;
  top: -30px; /* Adjust position as needed */
  background: #9c9c9c;
  color: #000000;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.3s;
}

.color-circle:hover::after {
  opacity: 1;
}

.screenshot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Ensure the container takes the full width */
  overflow: hidden; /* Handle any overflow */
}

.screenshot {
  max-width: 99%; /* Adjusts the width to overflow on both sides */
  height: auto;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  border-radius: 8px; /* Optional: adds rounded corners */
  margin-top: 20px;
  transition: transform 0.3s, box-shadow 0.3s; /* Smooth transition for transform and shadow */
}

.screenshot2 {
  width: 600px; /* Set desired width */
  height: auto; /* Maintain aspect ratio */
  max-width: 100%; /* Optional: Prevent it from exceeding container size */
  display: block; /* Optional: Makes centering easier */
  margin: 0 auto; /* Optional: Center the object horizontally */
}

.screenshot:hover {
  transform: translateY(-5px); /* Slightly raise on hover */
}

.platform-wrapper {
  margin-top: 40px;
  position: relative;
  text-align: center;
}

.color-palette-wrapper {
  position: relative;
  text-align: center;
}

.custom-alert {
  position: absolute; /* Position relative to the container */
  top: 0; /* Adjust to position below the h2 */
  left: 50%;
  transform: translateX(-50%);
  background-color: #292929;
  padding: 10px 20px;
  border-radius: 5px;
  border: 2px solid; /* Border color will match the text color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* Ensure the alert is on top */
  color: inherit; /* Ensure text color is inherited */
  opacity: 0; /* Start hidden */
  transition: opacity 0.5s ease-in-out; /* Smooth transition */
  user-select: none; /* Prevent text selection */
}

.custom-alert.show {
  opacity: 1; /* Show alert */
}

.custom-alert span {
  cursor: pointer; /* Make the text cursor a pointer */
}

/* archive.css */

.archive-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.archive-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  z-index: 999;
}

.archive-content {
  background: #1A1A1A; /* Black background */
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 800px;
  max-height: 80%;
  overflow-y: auto; /* Ensure only the popup is scrollable */
  z-index: 1001;
  position: relative;
  color: #ffd580; /* Text color */
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #EF6B73;
  cursor: pointer;
}

.archive-list {
  padding: 10px;
  list-style-type: none;
}

.archive-date {
  color: #bae67e; /* Date color */
  margin-bottom: 10px;
  font-weight: bold;
}

.archive-list li {
  margin-bottom: 10px;
}

.github-button {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background-color: #AA1B86; /* Light background */
  color: #FFFFFF; /* Dark GitHub-like text color */
  padding: 10px 16px;
  border-radius: 6px;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  transition: background 0.3s, color 0.3s;
  border: 1px solid #181717; /* Optional: GitHub border look */
}

.github-button:hover {
  background-color: #FFFFFF; /* Dark on hover */
  color: #000000; /* Light text on hover */
}

.github-button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2rem; /* optional spacing */
}

/* For WebKit browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #333; /* Background color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: #FF8040; /* Color of the scrollbar thumb */
  border-radius: 6px; /* Roundness of the scrollbar thumb */
  border: 3px solid #333; /* Padding around scrollbar thumb */
}

/* For Firefox */
* {
  scrollbar-width: thin; /* Makes the scrollbar thinner */
  scrollbar-color: #FF8040 #333; /* Thumb and track colors */
}

/* For Internet Explorer and Edge */
body {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.bulletin-board-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 5px; /* Adds spacing between items */
  margin: 0 20px; /* 20px margin on the left and right */
  flex-wrap: wrap; /* Allows wrapping to a new line on smaller screens */
}

.bulletin-board-container {
  flex: 1 1 calc(33.333% - 40px); /* 3 columns with 20px margin on both sides */
  box-sizing: border-box; /* Includes padding and border in width/height calculations */
  transition: transform 0.3s, box-shadow 0.3s; /* Smooth transition for transform and shadow */
  
}

.bulletin-board-container:hover {
  transform: translateY(-5px); /* Slightly raise on hover */
}

/* Media Queries */
/* When screen width is less than 768px, hide elements with the 'responsive-hide' class */
@media screen and (max-width: 804px) {
  .responsive-hide {
    display: none;
  }
}

/* Mobile Styles */
@media only screen and (max-width: 600px) {
  /* Reset box-sizing */
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  

  .subtitle {
    text-align: center;
    color: #4dbced; /* Font color */
    font-size: 20px;
    font-style: italic;
  }

  .subtitle-2 {
    text-align: center;
    color: #4dbced; /* Font color */
    font-size: 20px;
    font-style: italic;
  }

  .bulletin-board-wrapper {
    flex-direction: column; /* Stacks items vertically on smaller screens */
  }

  .bulletin-board-container {
    flex: 1 1 100%; /* Full width for each item */
    margin-bottom: 20px; /* Adds spacing between vertical items */
  }

  hr {
    width: 96%; /* Set the desired width */
  }

  .platform-grid {
    grid-template-columns: 1fr; /* Single column layout */
    gap: 10px;
  }

  .responsive-hide {
    display: inline;
  }

  body {
    padding: 15px;
    font-size: 17px; /* Set default font size */
    overflow-x: hidden; /* Prevent horizontal scrolling */
  }

  .desktop-logo {
    display: none;
  }

  .mobile-logo {
    display: block;
    width: 100%;
    margin: 0 auto;
  }

  #pagecontent {
    border-radius: 5px;
    box-shadow: none;
    width: 100%; /* Ensures page content fits the screen width */
    max-width: none; /* Overrides any max-width set elsewhere */
    padding: 0 15px; /* Adds padding to prevent content from touching the edges */
    box-sizing: border-box;
  }

  #contentarea main {
    padding: 0 10px;
    box-sizing: border-box;
  }

  #pagecontent,
  #contentarea,
  #contentarea main {
    overflow-x: hidden;
  }

  img,
  video,
  iframe,
  .projects-image,
  .banner-image {
    max-width: 100%;
    height: auto;
  }

  .faq-header-small {
    font-size: 25px;
  }

  #pagefoot {
    font-size: 10px;
  }

  .scroll-to-top {
    width: 50px; /* Set width and height to be the same for a circle */
    height: 50px;
    bottom: 35px; /* Closer to the bottom on small screens */
    right: 35px; /* Closer to the right on small screens */
  }

  .social-links a {
    flex: 0 0 auto; /* Prevent flex items from growing or shrinking */
    width: calc(
      8%
    ); /* Adjust width to fit 5 items per row, accounting for gap */
  }

  .platform-grid {
    display: grid;
    grid-template-columns: repeat(
      1,
      1fr
    ); /* Adjust to single column for mobile */
    gap: 20px;
    margin-top: 20px;
  }

  .platform-card {
    width: 100%; /* Ensure full width on mobile */
    padding: 15px;
  }

  .color-palette-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Adjust columns for better fit */
    gap: 10px;
  }

  .color-circle {
    width: 30px;
    height: 30px;
  }

  .title-header-large {
    display: none;
  }

  .title-header-small {
    display: block;
  }

  #platform-github {
    grid-column: span 1; /* Span across all 3 columns */
  }
}

/* For iPhone 15 Pro Max */
/*
@media only screen and (max-device-width: 428px) {
  .title-header-large {
    display: block;
  }

  .title-header-small {
    display: none;
  }
}
*/

/* For iPhone 15 Pro */
/*
@media only screen and (max-device-width: 300px) {
  .title-header-large {
    display: none;
  }

  .title-header-small {
    display: block;
  }
}
*/
